<a href="https://colab.research.google.com/github/aakashkumarme/TFLEARN/blob/main/1_Getting_Data_ready.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#standard imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Three main things to do:


1.   Split the data into features and labels
2.   Filling or disreagrding missing values
3.   Converting non numical to numerical value (Feature encoding)

In [2]:
heart_disease = pd.read_csv("/content/drive/MyDrive/dataset/heart-disease.csv")
heart_disease

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [10]:
#dropping Target column
X = heart_disease.drop("target" , axis=1)
#getting predicted value column
y = heart_disease["target"]

X.head() , y.head()

(   age  sex  cp  trestbps  chol  fbs  ...  thalach  exang  oldpeak  slope  ca  thal
 0   63    1   3       145   233    1  ...      150      0      2.3      0   0     1
 1   37    1   2       130   250    0  ...      187      0      3.5      0   0     2
 2   41    0   1       130   204    0  ...      172      0      1.4      2   0     2
 3   56    1   1       120   236    0  ...      178      0      0.8      2   0     2
 4   57    0   0       120   354    0  ...      163      1      0.6      2   0     2

 [5 rows x 13 columns], 0    1
 1    1
 2    1
 3    1
 4    1
 Name: target, dtype: int64)

In [14]:
#splitting the data into train and test set
from sklearn.model_selection import  train_test_split
X_train , X_test , y_train ,y_test = train_test_split(X , y, test_size = 0.2)

In [15]:
   X_train.shape , X_test.shape , y_train.shape ,y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [16]:
X.shape , y.shape

((303, 13), (303,))



**Clean -->   Transform ---> Reduce the data**

In [21]:
car_sales = pd.read_csv("/content/drive/MyDrive/dataset/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [20]:
len(car_sales)

1000

In [23]:
X = car_sales.drop("Price",axis = 1)
y = car_sales["Price"]
   
from sklearn.model_selection import train_test_split

In [31]:
#Turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

#Define Variable
categorical_feature = ["Make" , "Colour" , "Doors"]
one_hot = OneHotEncoder()

#Transformer 
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_feature)],
                                  remainder = "passthrough")

transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [33]:
pd.DataFrame(transformed_X).head()

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [40]:
#Another way to do this  
dummies = pd.get_dummies(car_sales[["Make","Colour","Doors"]])
dummies

     Doors  Make_BMW  Make_Honda  ...  Colour_Green  Colour_Red  Colour_White
0        4         0           1  ...             0           0             1
1        5         1           0  ...             0           0             0
2        4         0           1  ...             0           0             1
3        4         0           0  ...             0           0             1
4        3         0           0  ...             0           0             0
..     ...       ...         ...  ...           ...         ...           ...
995      4         0           0  ...             0           0             0
996      3         0           0  ...             0           0             1
997      4         0           0  ...             0           0             0
998      4         0           1  ...             0           0             1
999      4         0           0  ...             0           0             0

[1000 rows x 10 columns]

In [43]:
#split again on transformed X
np.random.seed(42)
X_train,X_test,y_train,y_test = train_test_split(transformed_X,y,test_size = 0.25)

#Build learning model
from sklearn.ensemble import RandomForestRegressor
model  = RandomForestRegressor()
model.fit(X_train , y_train),
model.score(X_test , y_test)

0.26971662820358044

###Handling missing values

We have two option to do so :
1.   Fill them with some values
2.   Remove samples from missing data altogether

In [44]:
car_sales_missing = pd.read_csv("/content/drive/MyDrive/dataset/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [45]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [49]:
X = car_sales_missing.drop("Price" ,  axis = 1)
y = car_sales_missing["Price"]
X.tail()

       Make Colour  Odometer (KM)  Doors
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

Option 1 : Handling Missing values with Pandas

In [55]:
#We can see NaN here , so we should fill something here for better modelling

car_sales_missing["Make"].fillna("missing" , inplace = True)
car_sales_missing["Colour"].fillna("missing" , inplace = True)
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean , inplace = True)
car_sales_missing["Doors"].fillna(4, inplace = True)

In [57]:
car_sales_missing

        Make Colour Odometer (KM)  Doors    Price
0      Honda  White         35431    4.0  15323.0
1        BMW   Blue        192714    5.0  19943.0
2      Honda  White         84714    4.0  28343.0
3     Toyota  White        154365    4.0  13434.0
4     Nissan   Blue        181577    3.0  14043.0
..       ...    ...           ...    ...      ...
995   Toyota  Black         35820    4.0  32042.0
996  missing  White        155144    3.0   5716.0
997   Nissan   Blue         66604    4.0  31570.0
998    Honda  White        215883    4.0   4001.0
999   Toyota   Blue        248360    4.0  12732.0

[1000 rows x 5 columns]

In [58]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [60]:
#remove rows with missing price
car_sales_missing.dropna(inplace=True)
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [61]:
len(car_sales_missing)

950

In [62]:
X = car_sales_missing.drop("Price" ,  axis = 1)
y = car_sales_missing["Price"]
X.head()

     Make Colour Odometer (KM)  Doors
0   Honda  White         35431    4.0
1     BMW   Blue        192714    5.0
2   Honda  White         84714    4.0
3  Toyota  White        154365    4.0
4  Nissan   Blue        181577    3.0

In [68]:
#Lets convert data into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

#Define Variable
categorical_feature = ["Make" , "Colour" , "Doors"]
one_hot = OneHotEncoder()

#Transformer 
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_feature)],
                                  remainder = "passthrough")

transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.0, 1.0, 0.0, ..., 0.0, 35431.0, 15323.0],
       [1.0, 0.0, 0.0, ..., 1.0, 192714.0, 19943.0],
       [0.0, 1.0, 0.0, ..., 0.0, 84714.0, 28343.0],
       ...,
       [0.0, 0.0, 1.0, ..., 0.0, 66604.0, 31570.0],
       [0.0, 1.0, 0.0, ..., 0.0, 215883.0, 4001.0],
       [0.0, 0.0, 0.0, ..., 0.0, 248360.0, 12732.0]], dtype=object)

#Option 2 : Fill missing values Scikit Learn

In [69]:
car_sales_missing = pd.read_csv("/content/drive/MyDrive/dataset/car-sales-extended-missing-data.csv")
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [70]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [71]:
car_sales_missing.dropna(subset=["Price"] , inplace=True) #dropping rows with missing price
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [75]:
X = car_sales_missing.drop("Price" , axis = 1 )
y = car_sales_missing["Price"]
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White        35431.0    4.0
1     BMW   Blue       192714.0    5.0
2   Honda  White        84714.0    4.0
3  Toyota  White       154365.0    4.0
4  Nissan   Blue       181577.0    3.0

In [81]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#fill categorical values with missing and numerical values with mean

cat_imputer = SimpleImputer(strategy = "constant" , fill_value = "missing")
door_imputer = SimpleImputer(strategy = "constant" ,fill_value = 4)
num_imputer = SimpleImputer(strategy = "mean")

#DefineColumns
cat_features = ["Make" ,"Colour"]
door_feature = ["Doors"]
num_features = ["Odometer (KM)"]

#create an imputter

imputer = ColumnTransformer([
                             ("cat_imputer",cat_imputer,cat_features),
                             ("door_imputer",door_imputer,door_feature),
                             ("num_imputer",num_imputer,num_features)
])

#Transform the data

filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [85]:
car_sales_filled = pd.DataFrame(filled_X,columns=["Make","Colour","Doors","Odometer (KM)"])
car_sales_filled

        Make Colour Doors Odometer (KM)
0      Honda  White     4         35431
1        BMW   Blue     5        192714
2      Honda  White     4         84714
3     Toyota  White     4        154365
4     Nissan   Blue     3        181577
..       ...    ...   ...           ...
945   Toyota  Black     4         35820
946  missing  White     3        155144
947   Nissan   Blue     4         66604
948    Honda  White     4        215883
949   Toyota   Blue     4        248360

[950 rows x 4 columns]

In [86]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [88]:
y = car_sales_missing["Price"]
y.isna().sum()

0

In [90]:
#Turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

#Define Variable
categorical_feature = ["Make" , "Colour" , "Doors"]
one_hot = OneHotEncoder()

#Transformer 
transformer = ColumnTransformer([("one_hot",
                                  one_hot,
                                  categorical_feature)],
                                  remainder = "passthrough")

transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [92]:
#Fitting model
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(transformed_X,
                                                 y,
                                                 test_size = 0.2)

mode = RandomForestRegressor(n_estimators=100)
model.fit (X_train,y_train)
model.score(X_test,y_test)

0.21990196728583944