In [1]:
#Sckit Learn (SKLearn) - RandomForestClassifier

In [2]:
#Bring Data
import pandas as pd
heart_disease = pd.read_csv("/content/drive/MyDrive/dataset/heart-disease.csv")
heart_disease

     age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0     63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1     37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2     41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3     56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4     57    0   0       120   354    0  ...      1      0.6      2   0     2       1
..   ...  ...  ..       ...   ...  ...  ...    ...      ...    ...  ..   ...     ...
298   57    0   0       140   241    0  ...      1      0.2      1   0     3       0
299   45    1   3       110   264    0  ...      0      1.2      1   0     3       0
300   68    1   0       144   193    1  ...      0      3.4      1   2     3       0
301   57    1   0       130   131    0  ...      1      1.2      1   1     3       0
302   57    0   1       130   236    0  ...      0      0.0      1   1     2       0

[303 rows x 14 columns]

In [3]:
#prepare input and output variable
X  = heart_disease.drop("target" , axis =1)
y = heart_disease["target"]

In [4]:
#choose model
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
#split data into test and train
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25)

In [6]:
#fit the training data 
clf.fit(X_train,y_train);
X_train

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
169   53    1   0       140   203  ...      1      3.1      0   0     3
175   40    1   0       110   167  ...      1      2.0      1   0     3
254   59    1   3       160   273  ...      0      0.0      2   0     2
117   56    1   3       120   193  ...      0      1.9      1   0     3
216   62    0   2       130   263  ...      0      1.2      1   1     3
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
224   54    1   0       110   239  ...      1      2.8      1   1     3
148   44    1   2       120   226  ...      0      0.0      2   0     2
301   57    1   0       130   131  ...      1      1.2      1   1     3
140   51    0   2       120   295  ...      0      0.6      2   0     2
221   55    1   0       140   217  ...      1      5.6      0   0     3

[227 rows x 13 columns]

In [7]:
X_test

     age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
44    39    1   2       140   321  ...      0      0.0      2   0     2
119   46    0   0       138   243  ...      1      0.0      1   0     2
270   46    1   0       120   249  ...      0      0.8      2   0     3
193   60    1   0       145   282  ...      1      2.8      1   2     3
25    71    0   1       160   302  ...      0      0.4      2   2     2
..   ...  ...  ..       ...   ...  ...    ...      ...    ...  ..   ...
7     44    1   1       120   263  ...      0      0.0      2   0     3
77    59    1   1       140   221  ...      1      0.0      2   0     2
101   59    1   3       178   270  ...      0      4.2      0   0     3
143   67    0   0       106   223  ...      0      0.3      2   2     2
40    51    0   2       140   308  ...      0      1.5      2   1     2

[76 rows x 13 columns]

In [8]:
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1])

In [9]:
y_test

44     1
119    1
270    0
193    0
25     1
      ..
7      1
77     1
101    1
143    1
40     1
Name: target, Length: 76, dtype: int64

In [10]:
clf.score(X_train,y_train)

1.0

In [11]:
clf.score(X_test,y_test)

0.7631578947368421

In [12]:
 from sklearn.metrics import classification_report , confusion_matrix , accuracy_score

In [13]:
 classification_report(y_test,y_preds)

'              precision    recall  f1-score   support\n\n           0       0.74      0.70      0.72        33\n           1       0.78      0.81      0.80        43\n\n    accuracy                           0.76        76\n   macro avg       0.76      0.76      0.76        76\nweighted avg       0.76      0.76      0.76        76\n'

In [14]:
 confusion_matrix(y_test,y_preds)

array([[23, 10],
       [ 8, 35]])

In [15]:
accuracy_score(y_test,y_preds)

0.7631578947368421

In [16]:
#try  estimarors
import numpy as np
np.random.seed(42)
for i in range(10,100,10):
  clf = RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
  print(clf.score(X_test,y_test)*100)

77.63157894736842
81.57894736842105
77.63157894736842
77.63157894736842
81.57894736842105
78.94736842105263
77.63157894736842
78.94736842105263
76.31578947368422

In [17]:
#save a model
import pickle
pickle.dump(clf, open("randomforestmodel1.pk1","wb"))
#import model
loaded_model = pickle.load(open("/content/randomforestmodel1.pk1", "rb"))
loaded_model.score(X_test,y_test)

0.7631578947368421